<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= area.name %> Details</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include('components/Navbar') %>
    <main>
      <h1><%= area.name %></h1>
      <p><%= area.description %></p>
      <h2>Rides & Attractions</h2>
      <section class="rides-list">
        <% rides.forEach(ride => { %>
        <div class="ride-item">
          <h2><%= ride.name %></h2>
          <p><%= ride.description %></p>
        </div>
        <% }); %>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Theme Park. All rights reserved.</p>
    </footer>
  </body>
</html>
