<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title><%= area.name %> Details</title>
<<<<<<< Updated upstream
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link rel="stylesheet" href="/styles/style.css" >
    <link rel="stylesheet" href="/styles/areaDetails.css" >
=======
<<<<<<< HEAD
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/details.css" />
=======
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link rel="stylesheet" href="/styles/style.css" >
    <link rel="stylesheet" href="/styles/areaDetails.css" >
>>>>>>> 175f78b5dd2afd83fcb4bd87e4ef4b3268065577
>>>>>>> Stashed changes
  </head>
  <body>
    <header><%- include('./component/Navbar'); %></header>
    <main>
      <section id="detail-bg">
        <div class="hero">
          <img
            class="area-image"
            src="/images/<%= area.image %>"
            alt="<%= area.name %>"
          />
          <div class="hero-text">
            <h1><%= area.name %></h1>
            <p><%= area.description %></p>
          </div>
        </div>
      </section>
      <h2>Rides & Attractions</h2>
      <section class="rides-list">
        <% rides.forEach(ride => { %>
        <div class="ride-item card">
          <img src="/images/<%= ride.image %>" alt="<%= ride.name %>" >
          <div class="card-content">
            <h3><%= ride.name %></h3>
            <p><%= ride.description %></p>
            <a href="http://localhost:5000/rides/<%= ride.id %>"
              ><h4 id="exploreride-button">See More</h4></a
            >
          </div>
        </div>
        <% }); %>
      </section>
      <section class="attration">
        <h1>–Top 3 Attractions & Rides</h1>
        <div class="main-attractions">
          <% topRides.forEach(ride => { %>
          <div class="area-item card">
            <img src="/images/<%= ride.image %>" alt="Bahria Town Eye" >
            <div class="card-content">
              <h2><%= ride.name %></h2>
              <p><%= ride.description %></p>
            </div>
          </div>
          <% }); %>
        </div>
        <a href="/rides"><h4>See More</h4></a>
      </section>
    </main>
    <footer><%- include('./component/Footer'); %></footer>
  </body>
</html>
